body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f1f33;
  box-sizing: border-box;
  /* margin: 0; */

  /* TODO: Временно */
  width: 480px;
  margin: 0 auto;
}
